* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  
  li {
    /* float: right; */
    width: 100%;
  }
  
  li a {
    display: block;
    padding: 15px;
    background-color: #70d6ffc2;
    
  }
  
.flex-container {
    display: flex;
}

.home {
    display: block;
    background-color: #FF70A6;
    height: max-content;
}

.aboutme {
    display: block;
    background-color: #FF9770;
    height: 400px;
    overflow: scroll;
}

.mywork {
    display: block;
    background-color: #FFD670;
    height: max-content;
    overflow: hidden;

}

.contact {
    display: block;
    background-color: #E9FF70;
    height: max-content;

}

img {
    width: 100%;
    height: auto;
    min-height: 30px;
}

.row::after {
    display: table;
    content: "";
    clear: both;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

h1 {
    display: flex;
    justify-content: center;
    padding: 20px 0px 0px;
}

.work {
    background-color: white;
    margin: 10px;
    
}

