ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  
  li {
    /* float: right; */
    width: 100%;
  }
  
  li a {
    display: block;
    padding: 15px;
    background-color: #70d6ffc2;
    
  }
  
.flex-container {
    display: flex;
}

.home {
    display: block;
    background-color: #FF70A6;
    height: 400px;
}

.aboutme {
    display: block;
    background-color: #FF9770;
    height: 400px;
}

.mywork {
    display: block;
    background-color: #FFD670;
    height: 400px;
}

.contact {
    display: block;
    background-color: #E9FF70;
    height: 400px;
}
