:root {
    --bright-pink: #ff2172;
    --pink: #FF70A6;
    --linear-gradient-right-bottom: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(218, 218, 218, 0.9));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

header {
    padding: 20px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    background-color: var(--pink);
    color: #ffffff;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* nav {
    top: 0;
    padding-top: 0;
    margin-top: 0;
} */

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #FF70A6;
    
}

/* 
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

} */

.home {
    display: block;
    background-color: #FF70A6;
    height: max-content;
}

.aboutme {
    display: block;
    background-color: #FF9770;
    height: max-content;
    overflow: hidden;
}

.mywork {
    display: block;
    background-color: #FFD670;
    height: max-content;
    overflow: hidden;

}

.contact {
    display: block;
    background-color: #E9FF70;
    height: max-content;

}

img {
    width: 100%;
    height: auto;
    min-height: 30px;
    border: none;
    display: flex;
}

.horiseon {
    width: 100%;
    flex: wrap;

}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

h1 {
    display: flex;
    justify-content: center;
    padding: 20px 0px 0px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.overlay {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px;
}

.overlay h3 {
    position: absolute;
    bottom: 20px;
    left: 0px;
    background: var(--linear-gradient-right-bottom);
    width: 100%;
    padding: 10px;
}

.work {
    margin: 20px;
}